* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@font-face {
  font-family: 'rijksoverheid';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/rijksoverheidsansheading-bold.ttf');
}

@font-face {
  font-family: 'rijksoverheid';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/rijksoverheidsanstext-regular.ttf');
}

@font-face {
  font-family: 'rijksoverheid';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/rijksoverheidserif-italic.ttf');
}

:root {
  --primary-color: #09477d;
  --secondary-color: #7ebde4;
  --tertiary-color: #e8f5f8;
  --button-primary-color: #0c548a;
  --background-color: #e9e8e9;

  --error-color: #ffa500;
  --error-color-lighter: #ffa60021;
  --error-color-darker: #715219;
  --valid-color: #59cd59;
  --valid-color-darker: #3aa43a;

  --font-size-base: 1rem;
  --font-size-small: 0.9rem;
  --font-size-big: 1.2rem;
  --font-size-bigger: 1.5rem;

  --font-size-h2: 1.8rem;
  --font-size-h3: 1.25rem;

  --focus-box-shadow: 3px 3px 0 var(--button-primary-color),
    3px -3px 0 var(--button-primary-color),
    -3px -3px 0 var(--button-primary-color),
    -3px 3px 0 var(--button-primary-color), 4px 4px 0 var(--secondary-color),
    4px -4px 0 var(--secondary-color), -4px -4px 0 var(--secondary-color),
    -4px 4px 0 var(--secondary-color);

  --transition-base: 0.5s ease-out;
  --input-length: 30ch;
}

body {
  font-family: 'rijksoverheid', sans-serif;
}

main {
  background-color: var(--background-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  gap: 1rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: black;
  transition: var(--transition-base);
}

a.looklikelink {
  text-decoration: underline;
  color: var(--primary-color);
}

@supports selector(:has(*)) {
  input[type='radio'] {
    opacity: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

label:has(input[type='radio']:focus)::before {
  outline: 2px solid var(--secondary-color);
  box-shadow: var(--focus-box-shadow);
}

input:not([type='radio']) {
  font-size: var(--font-size-base);
  height: 2rem;
  border-radius: 0;
  border: 1px solid var(--primary-color);
  position: relative;
  padding-inline: 0.5rem;

  &:focus {
    outline: 2px solid var(--secondary-color);
    box-shadow: var(--focus-box-shadow);
  }
}

h2 {
  font-size: var(--font-size-h2);
  padding-bottom: 1rem;
}

h3 {
  font-size: var(--font-size-h3);
  padding-bottom: 1rem;
}
