#buttons {
  display: flex;
  padding: 5%;
  gap: 1rem;

  button {
    cursor: pointer;
    background-color: var(--button-primary-color);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: var(--font-size-base);
    font-family: 'rijksoverheid', sans-serif;

    &:focus {
      outline: 5px double var(--primary-color);
      outline-offset: 2px;
    }
  }
}
