/* show/hide */

.hideable {
  display: flex;
}

@supports selector(:has(*)) {
  label:has(.vervolg:not(:checked)) ~ .hideable {
    display: none;
  }
}

/* remove the 'ga naar vraag huppeldepup' when css is active & supports :has */

@supports selector(:has(*)) {
  .remove {
    display: none;
  }
}
