form {
  margin: 12% 2% 0 2%;
}

nav ol {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem 0;
}

nav ol li a {
  display: grid;
  place-items: center;
  background-color: var(--secondary-color);
  aspect-ratio: 1;
  width: 3rem;
  border-radius: 50%;
  transition: var(--transition-base);
  font-weight: bold;
}

nav ol li a:hover {
  opacity: 0.5;
}

label:not(:has(input[type='radio'])) {
  display: flex;
  flex-direction: column;
  max-width: var(--input-length);
}

label:has(input[type='radio']) {
  display: flex;
  flex-direction: row;
  justify-content: start;
  cursor: pointer;
  gap: 1rem;
}

label:has(input[type='radio']),
label:has(input[type='file']) {
  display: flex;
  padding: 0.5rem 0;
}

label:has(input[type='radio'])::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: 1px solid black;
}

label:has(input[type='radio']:checked)::before {
  background-color: black;
}

input[type='file'] {
  padding: 0.3rem;
  border: none;
  width: 40ch;
}

.name label:nth-of-type(2) {
  max-width: 10ch;
}

.flex-row {
  display: flex;
}

@media (min-width: 800px) {
  .md-flex-row {
    display: flex;
  }
}

div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* hele vraag */
.hele-vraag {
  border: 0;
  padding: 5%;

  > legend {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    font-size: var(--font-size-bigger);
    width: 2.2rem;
    height: 2.2rem;
    transform: translateY(40%);
  }

  > fieldset {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 3px inset var(--tertiary-color);
    border-radius: 0.3rem;

    > legend {
      margin-left: 1rem;
      padding-inline: 0.25rem;
      font-weight: bold;
      font-size: var(--font-size-big);
    }
  }
}

.name {
  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.address input[type='number'] {
  width: 5rem;
}

.order-1 {
  order: -1;
}

#2b-5-1 {
  text-transform: uppercase;
}
