label:has(:user-valid):not(:has(input[type='radio']))::before {
  content: '✓';
  position: absolute;
  color: var(--valid-color);
  transform: translate(calc(var(--input-length) + 0.5rem), 2.5rem);
}

input:user-valid {
  outline: 2px solid var(--valid-color);
  box-shadow:
    0.4rem 0.3rem 0 var(--valid-color-darker),
    -0.4rem 0.3rem 0 var(--valid-color-darker);
}

input:user-valid::before {
  content: '✓';
  position: absolute;
  color: var(--valid-color-darker);
}

input:user-invalid,
input.error-message {
  outline: 2px solid var(--error-color);
  box-shadow:
    0.4rem 0.3rem 0 var(--error-color-darker),
    -0.4rem 0.3rem 0 var(--error-color-darker);
}

label:has(input:user-invalid)::before,
label:has(input:user-invalid)::after,
label:has(input.error-message)::before,
label:has(input.error-message)::after {
  content: attr(data-error);
  border: 1px solid var(--error-color);
  background-color: var(--error-color-lighter);
  color: var(--error-color-darker);
  transform: translateY(-1rem);
  padding: 0.5rem 5%;
}

label:has(input:user-invalid)::after,
label:has(input.error-message)::after {
  display: none;
  margin-top: 0.2rem;
}

@media (min-width: 500px) {
  label:has(input:user-invalid)::before,
  label:has(input.error-message)::before {
    display: none;
    margin-bottom: 0.2rem;
  }

  label:has(input:user-invalid)::after,
  label:has(input.error-message)::after {
    display: block;
  }
}
